body{
    font-family: "gill-sans-nova", sans-serif;
font-weight: 500;
font-style: normal;
 margin: 0px;
align-items: center;
background-color: #2e319255;

}
.bottom-nav img{
   
    width: 60px;
} 
.bottom-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    background-color: #fff;
    z-index: 9999;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.container-account{
    background-color: #2e3192;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
}