body{
    font-family: "helvetica", sans-serif;
font-weight: 500;
font-style: normal;
 margin: 0px;
align-items: center;
background-color: #2e319255;

}
.bottom-nav .transfer, .bottom-nav .list , .bottom-nav .profile{
    width: 60px;
    padding-top: 10px;
    padding-bottom:10px;
} 
.bottom-nav .logo {
    width: 80px;
} 
.bottom-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    background-color: #fff;
    z-index: 9999;
       align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    width: 20%;
}

.container-account{
       align-items: center;
    display: flex;
    justify-content: center;
}

.container{
     background-color: #2e3192;
    color: #fff;
    width:90%;
    margin-top:64px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 64px;
    

}
.form{
    width: 290px;
     margin: 0 auto;
}

.container h1{
      font-family: "Goldich";
    font-size: 32px;
    margin-bottom: 20px;
}
.container label{
      font-family: "Helvetica";
    font-size: 16px;

}

.container input{
      font-family: "Helvetica";
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 0px;
    background-color: #ffffff55;
    color: #fff;
}
.container .btn{
    font-family: "Helvetica";
    font-size: 16px;
    background-color: #fff;
    color: #2e3192;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    margin-top: 10px;

}
.link{
    color: #fff;
}

.logout{
    width: 60px;
    margin-right: 40px;

}
.top-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 9999;
}
.top-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.saldo{
    color: #2e3192;
    font-weight: bold;
    margin: 0;
    font-size: 32px;
}

.error{
    padding: 10px;
    border: 1px solid red;
    background-color: #ff00003b;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.username{
    font-family: "helvetica";
    font-size: 24px;
    color: #2e3192;
    margin: 0;
    margin-right: 24px;
}
.transaction{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    display: block;
}
.transaction-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.transaction-datum{
    font-style: italic;
    margin-top: -10px;
}
.all-transactions{
    width: 80%;
}
h2 {
    font-family: "Goldich";
    font-size: 64px;
}
